################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning through small project/~$Notes.docx
/Learning through small project/SampleApi_Dependancy_Injection/.vs/SampleApi_Dependancy_Injection
/Learning through small project/SampleApi_Dependancy_Injection/obj
/Learning through small project/SampleApi_Dependancy_Injection/bin/Debug/net6.0
/Learning through small project/SampleApi_Dependancy_Injection/.vs/ProjectEvaluation/sampleapi_dependancy_injection.metadata.v7.bin
/Learning through small project/SampleApi_Dependancy_Injection/.vs/ProjectEvaluation/sampleapi_dependancy_injection.projects.v7.bin
